<ion-header>
  <ion-navbar>
    <ion-title> {{photo.title}} </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title> <img [src]="photo.image" /> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!_isLoaded" ngClass="middle-spinner"></ion-spinner>

  <gallery *ngIf="_isLoaded" [items]="userUploads | async" [imageMember]="getPhotoImage" (onItemClicked)="uploadClicked($event)"></gallery>

  <ion-fab center bottom>
    <button ion-fab color="light" (click)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>
</ion-content>