<ion-header>
  <ion-navbar>
    <ion-title>
      Comments
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list ngClass="write-comment"> 
        <ion-item>
            <ion-label floating>Write your comment...</ion-label>
            <ion-textarea [(ngModel)]="_commentText"></ion-textarea>
        </ion-item>
        <ion-item>
            <button clear ion-button (click)="send()">Send</button>
        </ion-item>
    </ion-list>

    <ion-spinner *ngIf="!_isLoaded" ngClass="middle-spinner"></ion-spinner>

    <ion-list *ngIf="_isLoaded" ngClass="comments-list">
        <ion-item text-wrap *ngFor="let comment of (_comments | async)">
            <ion-thumbnail item-left>
                <img [src]="(comment.user | user)?.image">
            </ion-thumbnail>
            <h2>
                {{ (comment.user | user)?.displayName }}
            </h2>
            <p>
                {{ comment.text }}
            </p>
        </ion-item>
    </ion-list>
</ion-content>