<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cukooapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cukooapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cukooApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cukooApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CukoosApi.Data.CukoosContext" Order="2" Enabled="False">
          <Destination Path="Data Source=cukoos.database.windows.net;Initial Catalog=dev;Persist Security Info=True;User ID=cukoo;Password=Aa123456;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CukoosApi.Data.CukoosContext, CukoosApi.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CukoosApi.Data.CukoosContext-Web.config Connection String">
      <ParameterValue>Data Source=cukoos.database.windows.net;Initial Catalog=dev;Persist Security Info=True;User ID=cukoo;Password=Aa123456;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CukoosApi.Data.CukoosContext-Web.config Connection String">
      <ParameterValue>Data Source=cukoos.database.windows.net;Initial Catalog=dev;Persist Security Info=True;User ID=cukoo;Password=Aa123456;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CukoosApi.cukooEntities-Web.config Connection String">
      <ParameterValue>Data Source=cukoos.database.windows.net;Initial Catalog=dev;Persist Security Info=True;User ID=cukoo;Password=Aa123456;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="cukooEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityFrameworkModel.csdl|res://*/Models.EntityFrameworkModel.ssdl|res://*/Models.EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=cukoos.database.windows.net;Initial Catalog=dev;Persist Security Info=True;User ID=cukoo;Password=Aa123456;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CukoosApi.Data.CukoosContext" />
  </ItemGroup>
</Project>