<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-buttons start [hidden]="!_isMyProfile">
        <button ion-button icon-only>
          <ion-icon name="create" disabled="true"></ion-icon>
        </button>
      </ion-buttons>

      <ion-title>
        {{ _user.displayName }}
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content ngClass="user-profile">
  <ion-grid>
    <ion-row>
      <ion-col col-3 text-center>
          <img [src]="'data:image/jpeg;base64,' + _user.image" ngClass="rounded-image" />
      </ion-col>
      <ion-col col-3 ngClass="counter">
        <div ngClass="counter-value">{{ _user.numberOfUploads }}</div>
        <div ngClass="counter-title">Posts</div>
      </ion-col>
      <ion-col col-3 ngClass="counter">
        <div ngClass="counter-value">{{ _user.numberOfFollowers }}</div>
        <div ngClass="counter-title">Followers</div>
      </ion-col>
      <ion-col col-3 ngClass="counter">
        <div ngClass="counter-value">{{ _user.numberOfFollowing }}</div>
        <div ngClass="counter-title">Following</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-9 offset-3 text-center>
        <button color="secondary" clear ion-button small (click)="follow()" *ngIf="!_isMyProfile && !_isFollowedByMe">Follow</button>
        <button color="secondary" ion-button small (click)="unfollow()" *ngIf="!_isMyProfile && _isFollowedByMe">Following</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <gallery [items]="_userUploads" [imageMember]="getUploadImage" (onItemClicked)="uploadClicked($event)"></gallery>
</ion-content>