<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-buttons start [hidden]="!_isMyProfile">
        <button ion-button icon-only>
          <ion-icon name="create" disabled="true"></ion-icon>
        </button>
      </ion-buttons>

      <ion-title>
        {{'PROFILE' | translate}}
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
      <ion-item>
        {{'DISPLAY_NAME' | translate}}
        <ion-note item-right>{{ _user.displayName }}</ion-note>
        <ion-avatar item-right>
          <img [src]="'data:image/jpeg;base64,' + _user.image">
        </ion-avatar>
      </ion-item>

      <ion-item>
        {{'EMAIL' | translate}}
        <ion-note item-right>{{ _user.email }}</ion-note>
      </ion-item>

      <button ion-item>{{'VIEW_MY_UPLOADS' | translate}}</button>

      <button ion-item>{{'CATEGORIES_IM_FOLLOWING' | translate}}</button>
  </ion-list>
</ion-content>