<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content #content ngClass="user-profile">

  <ion-grid>
    <ion-row>
      <ion-col col-3 ngClass="counter" (click)="showUploads()">
        <div ngClass="counter-value">{{ _user.uploadsCount }}</div>
        <div ngClass="counter-title">Cuckoos</div>
      </ion-col>

      <ion-col col-3 ngClass="counter" (click)="showPhotos()">
        <div ngClass="counter-value">{{ _user.followingPhotoCount }}</div>
        <div ngClass="counter-title">Nests</div>
      </ion-col>

      <ion-col col-3 ngClass="counter" (click)="showFollowing()">
        <div ngClass="counter-value">{{ (following | async)?.length }}</div>
        <div ngClass="counter-title">Following</div>
      </ion-col>

      <ion-col col-3 ngClass="counter" (click)="showFollowers()">
        <div ngClass="counter-value">{{ (followers | async)?.length }}</div> 
        <div ngClass="counter-title">Followers</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <div class="user-name">
    <img [src]="_user.image" ngClass="rounded-image"/>

    <h2>
      {{ _user.displayName }}
    </h2>

    <button ion-button *ngIf="!_isMyProfile" [outline]="!_isFollowedByMe" round small (click)="follow()">{{ _isFollowedByMe ? 'Following' : 'Follow' }}</button>
  </div>

  <div #uploads class="gallery-container">
    <gallery *ngIf="_isLoaded" columns="2" [items]="_userUploads | async" [imageMember]="getUploadImage" (onItemClicked)="uploadClicked($event)"></gallery>
    <ion-spinner *ngIf="!_isLoaded" ngClass="middle-vertical"></ion-spinner>
  </div> 
</ion-content>