<ion-header>
  <ion-navbar>
    <ion-title>
      {{ category.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content ngClass="category-details">
  <ion-grid>
    <ion-row>
      <ion-col offset-3 col-3 ngClass="counter">
        <div ngClass="counter-value">{{ category.numberOfUploads }}</div>
        <div ngClass="counter-title">Uploads</div>
      </ion-col>
      <ion-col col-3 ngClass="counter">
        <div ngClass="counter-value">{{ category.numberOfFollowers }}</div>
        <div ngClass="counter-title">Followers</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-9 offset-3 text-center>
        <button color="secondary" clear ion-button small (click)="follow()" *ngIf="!(_isFollowedByMe | async)">Follow</button>
        <button color="secondary" ion-button small (click)="unfollow()" *ngIf="_isFollowedByMe | async">Following</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner *ngIf="!_isLoaded" ngClass="middle-vertical"></ion-spinner>
  
  <gallery *ngIf="_isLoaded" [items]="photos | async" [titleMember]="getPhotoTitle" [imageMember]="getPhotoImage" (onItemClicked)="photoClicked($event)"></gallery>
</ion-content>