<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            Likes
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content #content>
    <ion-spinner *ngIf="!_isLoaded" ngClass="middle-vertical"></ion-spinner>

    <ion-list *ngIf="_isLoaded" ngClass="comments-list">
        <ion-item text-wrap *ngFor="let like of (_likes | async)">
            <ion-thumbnail item-left>
                <img [src]="(like)?.image">
            </ion-thumbnail>
            <h2>
                {{ (like)?.displayName }}
            </h2>
        </ion-item>
    </ion-list>
</ion-content>