.title {
    font-weight: bold;
    margin: 10px;
}

.title img {
    vertical-align: middle;
    width: 24px;
}

.fadingLike{

    color: #a5c6ff;
}

.user {
    color: #3D85C6;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
   
    display: inline-block;
    margin: 5px;
    margin-top: -20px;
    
    text-decoration: none !important;
}

.description {

}

.grid {
    text-align: right;
    display: inline-block;
}

.time {
    color: #999;
    font-weight: bold;
    font-size: 10px;
    display: inline-block
}


.photo {
    width: 100px;
    margin-top: -75px;
    margin-left: 20px;

}