<ion-card >

<ion-grid >  
  <ion-row >
    <ion-col col-2>
       <img [src]="user?.image" (click)="goToUser()" ngClass="profile" /> 
    </ion-col>
    <ion-col >
        <ion-row>
          <div class="user">{{ user?.displayName }}</div>
        </ion-row>
        <ion-row>
              <div class="time" >{{ displayCreatedSpan() }}</div>
        </ion-row>
    </ion-col>
   
  </ion-row>
</ion-grid>
     

  <img [src]="userUpload.image" (click)="goToImage()" />
  <img [src]="photo?.image" ngClass="photo" (click)="goToPhoto()" />
   
 

<ion-grid  >
 
  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-3>
        <ion-row>
           <ion-icon ngClass="likeIcon" name="thumbs-up" (click)="showLikers()"></ion-icon>
        </ion-row>
        <ion-row>
            <div class="count" (click)="showLikers()">{{ (_likes | async)?.length }} Likes</div>
        </ion-row>
    </ion-col >
        <ion-col  col-4 >
        <ion-row>
      <ion-icon ngClass="commentIcon"   name="ios-text" (click)="viewComments()"></ion-icon>
        </ion-row>
        <ion-row>
      <div class="count" (click)="viewComments()">{{ _commentsCount | async }} Comment</div>
        </ion-row>
    </ion-col>
    <ion-col  col-1>
          <button class="options" ion-button icon-left clear small (click)="options()"> 
         <ion-icon name="more"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-card-content>
      <div class="description">{{ userUpload.description }}</div>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button  class="lowerCase" ion-button icon-left clear small (click)="like()" [disabled]="_isLikeLoading"> 
        <ion-icon [hidden]="_isLiked" name="thumbs-up" class="fadingLike"></ion-icon>
        <ion-icon [hidden]="!_isLiked" name="thumbs-up" ></ion-icon>

        <div *ngIf="_isLiked" >Like</div>
        <div *ngIf="!_isLiked" class="fadingLike" >Like</div>
        
      </button>
         
    </ion-col>
    <ion-col>
      <button class="lowerCase" ion-button icon-left clear small (click)="viewComments()">
        <ion-icon name="text"></ion-icon>
        <div>Comments</div>
      </button>
    </ion-col>

  </ion-row>
</ion-card>