.title {
    font-weight: bold;
    margin-top: 10px;
}

.title img {
    vertical-align: middle;
}

.user {
    color: #3D85C6;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-right: 5px;
}

.description {

}

.time {
    color: #999;
    font-weight: bold;
    font-size: 10px;
}