<div class="title">
    <img src="{{ userUpload.photo.imageUrl }}" /> 
    {{ userUpload.photo.title }}
  </div>

<ion-card>
  <img src="{{ userUpload.imageUrl }}" (click)="goToImage(userUpload)" />

  <a href="#" (click)="goToUser(userUpload.user)" class="user">{{ userUpload.user.displayName }}</a>

  <ion-card-content>
      <div class="description">{{ userUpload.description }}</div>
      <div class="time">{{ userUpload.dateTime | date: 'MMM d, HH:mm' }}</div>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{ userUpload.likes.length }} Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ userUpload.comments.length }} Comments</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>