<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'WELCOME' | translate:_currentUser }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-spinner *ngIf="!_isLoaded" ngClass="middle-spinner"></ion-spinner>

    <ion-list *ngIf="_isLoaded">
      <wall-card *ngFor="let userUpload of _currentWall | async" [data]="userUpload"></wall-card>
    </ion-list>

     <ion-infinite-scroll *ngIf="_isLoaded" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>