<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" animated="true" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-toolbar mode="ios">
    <ion-segment [(ngModel)]="_searchType" mode="ios" (ionChange)="onSegmentChange()">
      <ion-segment-button value="photos">
        Nests
      </ion-segment-button>
      <ion-segment-button value="uploads" hidden="true">
        Cuckoos
      </ion-segment-button>
      <ion-segment-button value="members">
        Members
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar mode="ios" *ngIf="_searchType == 'photos'">
    <ion-scroll scrollX="true" ngClass="categories-scroller"> 
      <div (click)="selectCategory(category)" [ngClass]="{'category': true, 'selected': (_selectedCategoryKey && _selectedCategoryKey == category.$key)}"  *ngFor="let category of _categories | async">
        <img [src]="category.image" />
        <p>{{ category.name }}</p>
      </div>
    </ion-scroll>
  </ion-toolbar>

  <ion-spinner *ngIf="!_isLoaded" ngClass="middle-vertical"></ion-spinner>

  <div [ngSwitch]="_searchType" *ngIf="_isLoaded">
    <ion-list *ngSwitchCase="'uploads'">
      <ion-item text-wrap *ngFor="let userUpload of _filteredUserUploads" (click)="goToUpload(userUpload)">
            <ion-thumbnail item-left>
                <img [src]="userUpload.image">
            </ion-thumbnail>
            <h2>
                {{ (userUpload.user | user | async)?.displayName }}
            </h2>
            <p>
                {{ userUpload.description }}
            </p>
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'photos'">      
      <gallery *ngIf="_isLoaded" [items]="_filteredPhotos" [titleMember]="getPhotoTitle" [imageMember]="getPhotoImage" (onItemClicked)="goToPhoto($event)"></gallery>
    </div>

    <ion-list *ngSwitchCase="'members'">
      <ion-item *ngFor="let member of _filteredMembers" (click)="goToUser(member)">
          <ion-avatar item-left>
              <img [src]="member.image">
          </ion-avatar>
          <h2>{{ member.displayName }}</h2>
          <p>Uploaded {{ member.uploadsCount }} cuckoos</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>