<ion-header>
  <ion-toolbar mode="ios">
    <ion-segment [(ngModel)]="_searchType" mode="ios" (ionChange)="onSegmentChange()">
      <ion-segment-button value="uploads">
        Uploads
      </ion-segment-button>
      <ion-segment-button value="members">
        Members
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>  
  <ion-searchbar [(ngModel)]="searchQuery" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
  
  <ion-spinner *ngIf="!_isLoaded" ngClass="middle-vertical"></ion-spinner>

  <div *ngIf="_searchType == 'uploads' && _searchQuery.length < 3 && _isLoaded" ngClass="middle-vertical" text-center>
    Type at least 3 characters to search
  </div>

  <div *ngIf="_searchType == 'members' && _searchQuery.length == 0 && _isLoaded" ngClass="middle-vertical" text-center>
    Start typing to see results
  </div>
<!--
  <div *ngIf="_isLoaded && (_searchType == 'members' && _searchQuery.length > 0 && (!_filteredMembers || _filteredMembers.length == 0)) || (_searchType == 'uploads' && _searchQuery.length > 2 && (!_filteredUserUploads || _filteredUserUploads.length == 0))" ngClass="middle-vertical" text-center>
    No results
  </div>-->

  <div [ngSwitch]="_searchType" *ngIf="_isLoaded">
    <ion-list *ngSwitchCase="'uploads'">
      <ion-item text-wrap *ngFor="let userUpload of _filteredUserUploads">
            <ion-thumbnail item-left>
                <img [src]="userUpload.image">
            </ion-thumbnail>
            <h2>
                {{ (userUpload.user | user | async)?.displayName }}
            </h2>
            <p>
                {{ userUpload.description }}
            </p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'members'">
      <ion-item *ngFor="let member of _filteredMembers">
          <ion-avatar item-left>
              <img [src]="member.image">
          </ion-avatar>
          <h2>{{ member.displayName }}</h2>
          <p>Uploaded {{ member.numberOfUploads }} cuckoos</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>