.fullscreen-image {
    width: 100%;
    height: 100%;
}

.fullscreen-image .toolbar-background {
  background-color: black;
}

.fullscreen-image .toolbar-title-md {
    color: white !important;
}

.fullscreen-image .background {
    background-color: black !important;
    width: 100%;
    height: 100%;
    color: white;
}

.fullscreen-image .image-viewer {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    touch-action: pinch-zoom;
}



.fullscreen-image .fadingLike{

    color: #a5c6ff;
}


.fullscreen-image .footer {
    position: fixed;
    bottom: 10%;
    left: 5%;
}

.fullscreen-image .footer .description {
    font-size: 1.2em;
}

.fullscreen-image .footer .dateTime {
    color: lightgray !important;
}

.fullscreen-image .button {
    background-color: black ;
    color: gray ;
}

.fullscreen-image .icon {
    color: gray ;
}

.fullscreen-image .light {
    color: #387ef5 ;
}